<div id="<%= nameSpace.toLowerCase() %>-main" style="position:absolute; top:0px; left:0px;background-color: #006e9c; width:100%; height:100%" >
    <!-- ko text: msg() --><!-- /ko -->


    <div style="font-family: monospace, Courier; font-size: 6px;">

        <!-- ascii art made using http://www.glassgiant.com/ascii/ -->

        <pre>
         .                                     . ..  .
      . IMMMM+.  .                             $.  ~:$$$$$$          IMMM
     +MMMMMMMMMM  MM$       MM       .MM.       I $$$$$$$$$$$$.    MMMMMMMMM
    MMM        .  MM$       MM       IMMM      :$$$..      $$$$   .MM.  . +
   MM$            MM$       MM      .MMMM:.    $$$.         =$$    MM
  OMM             MMMMMMMMMMMM      MM .MM    I$$.          +7$7   +MMMO
  MMM             MMMMMMMMMMMM     MM~. .MM   $$$  .          $$      OMMMM
  ZMM             MM$       MM     MM    ?MD  $$$            I$I         MMM
   MM?            MM$       MM    MMMMMMMMMM$  $$$           $$~          MM
   .MMM        .  MM$       MM   MM,       MM   $$$       ,7$$ ?  MMZ     MM
   . ?MMMMMMMMMM  MM$       MM  DMM        :MM  ?$$$$$$$$$$$$ :    MMMMMMMM?
    .   $MMMMZ    ..          .  .              .  7$$$$$7I.         IMMM~
                                                   .
        </pre>
    </div>
</div>